//Variables

$ff-primary: "Roboto", sans-serif;
$ff-accent: "Exo ", sans-serif;

$clr-neutral-100: #e7ebee;
$clr-neutral-500: #333;
$clr-neutral-900: #06111f;

//TEAL COLORS
$dark-teal: #477981;
$bright-teal: #28b2bb;
$light-teal: #00eaff;
