//Variables

$ff-primary: "Roboto", sans-serif;
$ff-accent: "Exo ", sans-serif;

$clr-1: #a6aa59;
$clr-2: #ff9642;
$clr-3: #77acf1;
$clr-4: #be8abf;

$clr-neutral-100: #e7ebee;
$clr-neutral-500: #333;
$clr-neutral-900: #06111f;

//TEAL COLORS
$dark-teal: #477981;
$bright-teal: #58b0b9;
$light-teal: #7ec8ce;
