.about-wrapper {
  background-image: url(../../img/bg-landing.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  //   justify-content: center;
  //   align-items: center;
  flex-direction: column;
  padding: 1rem 2.2rem;
  width: 100%;
  height: 90vh;
  .dci {
    text-decoration: none;
    color: $clr-neutral-100;
    font-size: 1.2rem;
  }
  .dci:hover {
    color: $clr-neutral-500;
    font-size: 1.4rem;
    transition: 0.4s;
  }
  ul li {
    list-style: none;
    text-decoration: none;
    margin: 0 1rem;
    padding: 1rem 1rem 1rem 0;

    a {
      text-decoration: none;
      color: $clr-neutral-100;
    }
    .social {
      font-size: 2.4rem;
    }
    a:hover {
      color: $clr-neutral-500;
      font-size: 1.4rem;
      transition: 0.4s;
    }
  }
  .technologies-container {
    padding-right: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    img {
      width: 55px;
      height: auto;
      margin: 2rem;
      opacity: 0.8;
    }
    img:hover {
      transform: scale(2);
      opacity: 1;
      transition: 0.4s;
    }
  }
}
