// from 0px up to 320px width

// book-details-container is the main container of bookDetails
.book-details-container {
  border: blue 2px solid;
  // book cover image container
  .book-cover-img-container {
    // link to book from clicking anchor around image
    a {
      border: blue 2px solid;
      // actuall book cover image
      img {
        border: blue 2px solid;
      }
    }
    // book information container
    .book-info-container {
      border: blue 2px solid;
      // anchor to book title and book author
      a {
        border: blue 2px solid;
        // book title
        .book-title {
          border: blue 2px solid;
        }
        // book author
        .book-author {
          border: blue 2px solid;
        }
      }
      // book raitngs container
      .book-ratings-container {
        border: blue 2px solid;
        // google rating, SAAVi community rating, number of community ratings
        span {
          border: blue 2px solid;
        }
      }
      // general destails about book
      .book-small-details-container {
        border: blue 2px solid;

        // year book was published
        .book-year-pub {
          border: blue 2px solid;
        }
        // book series the book belongs to
        .book-series {
          border: blue 2px solid;
        }
        // this edition's language
        .book-lang {
          border: blue 2px solid;
        }
        // original language of book
        .book-orig-lang {
          border: blue 2px solid;
        }
      }
    }
  }
}
