// from 0px up to 320px width

// book-details-container is the main container of bookDetails
.book-details-container {
  border: blue 2px solid;
  width: auto;
  height: auto;
  @include flex(center, center, column);
  // book cover image container
  .book-cover-img-container {
    border: yellow 2px solid;
    width: auto;
    height: auto;
    // link to book from clicking anchor around image
    a {
      border: cornflowerblue 2px solid;
      width: auto;
      height: auto;
      // actuall book cover image
      img {
        border: red 2px solid;
        width: auto;
        height: auto;
      }
    }
  }
  // book information container
  .book-info-container {
    border: black 2px solid;
    width: auto;
    height: auto;
    // anchor to book title and book author
    a {
      border: cornflowerblue 2px solid;
      width: auto;
      height: auto;
      display: block;
      // book title
      .book-title {
        border: purple 2px solid;
        width: 100%;
        height: 100%;
      }
      // book author
      .book-author {
        border: orange 2px solid;
        width: auto;
        height: auto;
      }
    }
    // book raitngs container
    .book-ratings-container {
      border: blue 2px solid;
      width: auto;
      height: auto;
      // google rating, SAAVi community rating, number of community ratings
      span {
        border: sandybrown 2px solid;
        width: auto;
        height: auto;
      }
    }
    // general destails about book
    .book-small-details-container {
      border: black 2px solid;
      width: auto;
      height: auto;
      // year book was published
      .book-year-pub {
        border: violet 2px solid;
        width: auto;
        height: auto;
      }
      // book series the book belongs to
      .book-series {
        border: orangered 2px solid;
        width: auto;
        height: auto;
      }
      // this edition's language
      .book-lang {
        border: yellow 2px solid;
        width: auto;
        height: auto;
      }
      // original language of book
      .book-orig-lang {
        border: olivedrab 2px solid;
        width: auto;
        height: auto;
      }
    }
  }
  // book genres
  .book-genres {
    border: orange 2px solid;
    width: auto;
    height: auto;
  }
  // book description
  .book-description {
    border: brown 2px solid;
    width: auto;
    height: auto;
  }
}
