// book-container containing both components BookDetails and BookReviews
.book-container {
  border: brown 2px solid;
  height: 100%;
  width: 100%;
  background-color: aqua;
  @include flex(center, center, column);
}
