.card-wrapper {
  background-color: yellow;
  height: 100%;
  width: auto;
}

.card-container {
  width: 100%;
  height: 100%;
}

.btn {
  background-color: $bright-teal !important;
  border: none !important;
  width: 98%;
}
