.quote-of-the-day-container {
  @include max(480px) {
    width: 100%;
    height: 50%;
    h5 {
      text-align: center;
    }
  }
  font-size: 12px;
  margin-top: 10px;
  width: 100%;
  height: 50%;

  h5 {
    font-size: 15px;
    font-weight: bolder;
    color: $bright-teal;
  }
}

.quote-wrapper {
  width: 100%;
  padding: 10px;
  font-style: italic;
  text-align: justify;
  height: 100px;
  text-align: center;
  overflow: hidden;
  border: 8px solid $bright-teal;
}

.quote {
  color: $clr-neutral-500;
  font-weight: bold;
  font-size: 12px;
  font-family: Plantagenet Cherokee;
}

.author {
  color: #7c7c7c;
}
