.quote-of-the-day-container {
  font-size: 12px;
  width: 50%;
  height: 60%;
  margin: 10px;

  h5 {
    font-size: 13px;
    font-weight: bolder;
  }
}

.quote-wrapper {
  background-color: #ffffff59;
  font-size: 12px;
  border-radius: 20px;
  height: 80%;
  width: 100%;
  padding: 10px;
}
