.area {
  margin: 20px;
  input {
    @include max(858px) {
      width: 45vw;
    }
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    width: 25vw;
    height: 20px;
    padding: 10px;
    font-size: 10px;
    color: white;
    &:focus {
      outline: none;
    }
  }
  button {
    background-color: transparent;
    color: white;
    font-size: 18px;
    padding: 0 20px;
    border: none;
  }
  p {
    color: white;
    font-size: 10px;
  }
}

input::placeholder {
  color: white;
}
