.img-display {
  margin-top: -80px;
  width: 80vw;
  height: 80vh;
}

.slider-container {
  width: 100%;
}

.slider {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: auto;
  height: 1000px;
  border-radius: 10px;
}

.book-quote {
  font-style: italic;
  color: #8f8f8f;
}

.right-arrow {
  position: absolute;
  top: 38%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 38%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
