.reviews-container {
  font-size: 12px;
  margin: 10px;
  width: 50%;
  height: 60%;
  h5 {
    font-size: 15px;
    font-weight: bolder;
  }
}

.reviews-wrapper {
  background-color: #ffffff59;
  font-size: 12px;
  border-radius: 20px;
  height: 80%;
  padding: 10px;
}
