.footer-wrapper {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: $dark-teal;
  // color: $dark-teal;
  width: 100vw;
  height: auto;

  .copyright {
    h6 {
      font-size: 1.4rem;
      margin: 0.3rem;
    }
  }
}
