.footer-wrapper {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: $clr-neutral-100;

  width: 100vw;
  height: auto;
  z-index: 3;
  .copyright {
    h6 {
      margin-top: 0.4rem;
      color: black;
      z-index: 3;
    }
  }
}
