.nav-container {
  background-color: white;
  opacity: none;
}
.navbar {
  display: flex;
  display: inline-block;
  width: 100vw;
  height: 10vh;
  background-color: transparent;
  border-left: 30px solid white;
  border-right: 30px solid white;
}
nav li {
  list-style: none;
  color: $clr-neutral-500;
  margin: 10px;
  font-size: 13px;
}

nav li:hover {
  color: #303030;
  transition: 0.3s;
  padding: -10px;
}

#logo-wrapper {
  .logo img {
    margin: 0px;
    width: 120px;
    height: 18px;
  }
}

.search-bar {
  border: 1px solid $bright-teal;
  border-radius: 50px;
  height: 25px;
  width: 40vw;
  font-size: 12px;
  padding: 10px;
  &:focus {
    outline: none;
  }
}
.search-icon {
  background-color: transparent;
  border: none;
  color: $bright-teal;
  font-size: 18px;
  padding: 0 10px;
}
